@media screen and (max-width: 60em) {
    body {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    aside {
        display: none;
    }
}

@media screen and (max-width: 30em) {
    header h2 {
        display: none;
    }
    
    article header, article header a {
        position: unset;
        color: black;
        text-shadow: unset;
    }

    article header {
        width: 100%;
    }

    #menu ul {
        flex-direction: column;
    }

    #menu ul li {
        text-align: left;
    }
}