* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6, article footer, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

header {
    background-color: #046DD5;
}

aside {
    background-color: #2A2F33;
    color: white;
}

#signup a:first-child {
    border-right: 1px solid white;
}

#signup a {
    display: inline-block;
    padding: 0 1em;
}

#menu > input {
    display: none;
}

#menu {
    font-weight: 600;
}

#menu li {
    list-style-type: none;
    text-align: center;
    padding: 1em;
}

#menu li a {
    color: black;
}

#menu li:first-child {
    border-top: 5px solid #E1493E;
}

#menu li:nth-child(2) {
    border-top: 5px solid #8ABA56;
}

#menu li:nth-child(3) {
    border-top: 5px solid #5B4282;
}

#menu li:nth-child(4) {
    border-top: 5px solid #FF8932;
}

#menu li:nth-child(5) {
    border-top: 5px solid #19B6E9;
}

#menu li:nth-child(6) {
    border-top: 5px solid #E84C8B;
}

article {
    position: relative;
}

article header {
    background-color: initial;
    position: absolute;
    width: 300px;
    text-shadow: 5px 5px 5px #2A2F33;
}

article footer {
    background-color: #F4655F;
    color: white;
    padding: 1em;
}

article footer a {
    text-decoration: underline;
}

article footer::before {
    content: "By";
}

footer {
    background-color: #2A2F33;
    color: white;
}

img {
    width: 100%;
}