* {
    box-sizing: border-box;
}

html {
    background-color: #ddddff;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

