/* *:not(p) {
    padding: 0;
    margin: 0;
} */

html {
    background-color: #ddddff;
}

body {
    width: 800px;
    background-color: #669933;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    background-color: #336699;
    color: white;
    padding: 20px;

    position: relative;
}

#header h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;

    text-align: center;

    background-color: #336699;

    transform-origin: left top;
    transform: rotate(90deg);
}

#menu {
    float: right;
    width: 200px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    padding: 20px;
    text-align: center;
}

#menu li a {
    text-decoration: none;
    color: white;
}

#content {
    margin-right: 200px;
    padding: 0 10px;
    background-color: white;
}

#content a {
    text-decoration: none;
}

#content h3 {
    margin: 0 0 10px;
    font-size: 160%;
}

#content img {
    float: left;
    margin: 0 10px 10px 0;
}

#content .introduction {
    font-style: italic;
}

#content .news-item {
    border-bottom: 1px solid black;
}
