body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

#green {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#yellow {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#red {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}