body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "y y y y"
        "b o o o"
        "b r r r"
        "b g g g";
}

#yellow {
    grid-area: y;
}

#yellow ul {
    display: flex;
}

#yellow ul li {
    flex-grow: 1;
}

#yellow ul li:first-of-type {
    flex-grow: 3;
}

#blue {
    grid-area: b;
}

#orange {
    grid-area: o;
}

#red {
    grid-area: r;
}

#red ul {
    display: flex;
    flex-direction: row-reverse;
}

#red ul li {
    flex-grow: 1;
}

#green {
    grid-area: g;
}